.tile {
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : none;
    border-radius  : 9in;
    box-shadow     : 0 2px 10px #1e1e1e;
    height         : var(--tileSize);
    overflow       : hidden;
    position       : absolute;
    left           : var(--tilePadding);
    top            : var(--tilePadding);
    transition     : transform .2s ease-in-out;
    width          : var(--tileSize);
    user-select    : none;

    &:not(:disabled) {
        cursor: pointer;
    }

    &.tile--1 {
        background-image: radial-gradient(var(--purpleTint) 5%, purple);
    }

    &.tile--2 {
        background-image: radial-gradient(var(--blackTint) 5%, black);
    }

    &.tile--3 {
        background-image: radial-gradient(var(--crimsonTint) 5%, crimson);
    }

    &.tile--4 {
        background-image: radial-gradient(var(--hotpinkTint) 5%, hotpink);
    }

    &::before {
        content       : '';
        position      : absolute;
        inset         : 3% 12% 50% 12%;
        border-radius : ~'50% / 59% 59% 41% 41%';
        background    : linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
        pointer-events: none;
    }

    &::after {
        content       : '';
        position      : absolute;
        inset         : 55% 12% 3% 12%;
        border-radius : ~'50% / 41% 41% 59% 59%';
        background    : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
        filter        : blur(5px);
        pointer-events: none;
    }

    svg {
        color         : white;
        flex          : 0 0 50%;
        height        : 50%;
        opacity       : 0;
        pointer-events: none;
        will-change   : opacity;
    }

    &.hover svg {
        opacity: 0.7;
    }

    &.tile--down svg {
        rotate: 90deg;
    }

    &.tile--right svg {
        rotate: 0deg;
    }

    &.tile--up svg {
        rotate: -90deg;
    }

    &.tile--left svg {
        rotate: 180deg;
    }
}
