board {
    background-color: transparent;
    position        : relative;
    user-select     : none;
    height          : var(--boardSize);
    width           : var(--boardSize);
    transition      : transform .75s ease-in;
    transition-delay: .75s;

    &::before {
        content       : '';
        display       : block;
        position      : absolute;
        inset         : var(--distance) var(--distance) var(--distance) var(--distance);
        border-radius : 1vmin;
        background    : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
        filter        : blur(5px);
        pointer-events: none;

    }

    &.win {
        transform: scale3d(20, 20, 1);

        &::before {
            border       : 20px solid #00be00;
            scale        : 1.05;
            border-radius: 80px;
        }
    }
}
